.button {
  border: none;
  height: 70px;
  border-radius: 10px;
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(47deg, #2e00b1 0%, #8100bd 48.44%, #a400be 100%);

  &:hover {
    background: linear-gradient(47deg, #a400be 0%, #8100bd 50%, #2e00b1 100%, #2e00b1 100%);
  }

  &:focus {
    background: linear-gradient(47deg, #2e00b1 0%, #a400be 50%, #2e00b1 100%, #2e00b1 100%);
  }
  
  &:active {
    background: #2e00b1;
  }
}

.btnAccounts {
  min-height: 49px;
  min-width: 241px;
}

.btnBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 49px;
  padding: 12px 30px;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 13px;
    background-image: url('./coolicon.svg');

  }

}

.btnTransfer {
  width: 380px;
}