@import '../../var.scss';

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 130px;
  margin: 0 auto;
  // border: 1px solid red;
  @include desktop1280 {
    padding: 0 50px;
  }

  @include tablet850 {
    padding: 0 30px;
  }
  @include mobile480 {
    padding: 0 16px;
  }
}