@import '../../var.scss';

.wrapAccounts {
  padding-top: 100px;
  position: relative;
  margin-bottom: 80px;
}

.wrapTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  gap: 10px;

  @include tablet850 {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }
}

.title {
  font-family: 'Comfortaa', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;

  @include desktop1280 {
    font-size: 30px;
  }

  @include tablet850 {
    font-size: 24px;
  }
}

.wrapAccountBtn {
  @include tablet850 {
    // width: 70%;
    position: absolute;
    top: 25px;
    right: 0;
  }
}

.wrapTitleAccounts {
  display: flex;
  justify-content: space-between;

  @include tablet850 {
    justify-content: space-around;
  }

  @include mobile480 {
    flex-direction: column;
  }
}

.titleAccounts {
  font-family: 'Comfortaa', Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;

  @include desktop1280 {
    font-size: 22px;
  }
}

.wrapSort {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  @include tablet850 {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  @include mobile480 {
    flex-direction: row;
    align-items: center;
  }
}

.titleSort {
  color: var(--colorText);
}

.wrapSortList {

}


.listAccounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;  

  @include desktop1280 {    
    grid-template-columns: repeat(2, 45%);
  }

  @include tablet850 {
    grid-template-columns: 70%;
  }

  @include mobile480 {
    grid-template-columns: 100%;
  }
}
