.wrapAccounts {
  margin-bottom: 80px;
}

.textSuccess {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  flex-grow: 1;
  animation: slowRemoveOpacity 1.8s;
}

@keyframes slowRemoveOpacity {
  0% {
    opacity: 0;
  }
  // 50% {
  //   opacity: 1;
  // }
  100% {
    opacity: 1;
  }
}
.wrapTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Comfortaa', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.wrapTitleAccounts {
  display: flex;
  justify-content: space-between;
}

.titleAccounts {
  font-family: 'Comfortaa', Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.wrapSort {
  display: flex;
  align-items: center;
  gap: 16px;
}

.titleSort {
  color: var(--colorText);
}

.select {
  font-weight: 700;
  color: var(--text);
  background-color: transparent;
  border: none;
}

.btnSort,
.activeBtnSort {
  border: none;
  font-weight: 700;
  width: 180px;
  text-align: left;
  padding: 5px;
  border-radius: 6px 6px 0 0;
}

.btnSort {
  background-color: transparent;
  color: var(--text);
}

.activeBtnSort {
  background-color: var(--colorText);
  color: var(--backgroundColor);
  
  &:hover {
    background-color: var(--opacity);
    cursor: pointer;
  }
}

.sortList {
  position: relative;
  z-index: 1;
  height: 0;
  font-weight: 700;
  color: var(--backgroundColor);
}


.sortItem {
  background-color: var(--colorText);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  &:last-child {
    border-radius: 0 0 6px 6px;
  }

  &:hover {
    background-color: var(--opacity);
    cursor: pointer;
  }

}

.listAccounts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}