.account {
  color: var(--colorText);
  border-radius: 10px;
  min-width: 380px;
  padding: 16px 20px;
  background-color: var(--darkColor);
  border: 2px solid transparent;
  transition: border 0.2s;

  &:hover {
    border-color: var(--borderColor);
    transition: border 0.2s;
  }
}

.numAccount {
  margin-bottom: 14px;
}

.balance {
  font-weight: 600;
  font-size: 32px;
  color: var(--text);
  margin-bottom: 18px;
}
.wrapDates {
  display: flex;
  justify-content: space-between;
}