.header {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 78px;
  background-color: var(--darkColor);
  margin-bottom: 100px;
}

.wrap {
  display: flex;
  justify-content: space-between;

}
.list {
  display: flex;
  gap: 30px;
  font-weight: 700;
}

.btn {
  display: flex;
  gap: 3px;
  background-color: transparent;
  border: none;
  
  &:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('./exit.svg');
  }
}