.header {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 78px;
  background-color: var(--darkColor);
  margin-bottom: 100px;
}

.wrap {
  display: flex;
  justify-content: space-between;

}
