:root {
	--darkColor: #392350;
	--backgroundColor: #210b36;
	--colorText: #c6b6d7;
	--text: #fff;
	--borderColor: #b865d6;
	--8: rgb(110, 71, 158);
	--opacity: #d2b6f1cc;

	/* --colorText: rgba(193, 191, 196, 0.2); */
}